*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
    
}
html,body{
    overflow: hidden;
    background-color: #212A3E;
}
.layar canvas{
    position: absolute;
    top: 50%;
    left: 50%;
    bottom: 50%;
    transform: translate(-50%, -50%);
}
audio{
    display:none;
}
.btn{
    margin-top: 30px;
  display: inline-block;
  padding: 20px 5%;
  background: #0766AD;
  border-radius: 5px;
  color: #fff;
  font-size: 1rem;
  letter-spacing: 1px;
  font-weight: 600;
  transition: all 0.45s ease;
  text-decoration: none;
}